extends layout

block content

  div
    <input type="date" name="game_date">

  div
    select#games
      each game, i in games
        option(value="#{game.slug}")= game.title

  div
    <select id="numPlayers">
    <option>Players</option>
    </select>

  div#points
  
  script(src='/javascripts/builder.js')

  script
    | (function($){
    |   getGameInfo('#{games[0].slug}')
    | })(jQuery);