extends layout

block content

  form#formAddGameInstance(name="addInstance",method="post",action="/sessions/new/#{game.slug}")
    h2
      | #{game.title}

    div.panel.panel-default
      div.panel-heading
        h3.panel-title
          | Date
      div.panel-body
        input(type="date" id="session_date" name="session_date")
        input(type="hidden" name="game_id" value="#{game._id}")

    div.panel.panel-default
      div.panel-heading
        h3.panel-title
          | Number of Players
      div.panel-body
        <select id="num_players" name="num_players">
        <option># of Players</option>
        </select>

    div.panel.panel-default
      div.panel-heading
        h3.panel-title
          | Scoring Sheet
      div.panel-body
        div#points

    div.submitBtn
      button#btnSubmit(type="submit" class="btn btn-lg btn-primary") submit
  
  script(src='/javascripts/builder.js')

  script
    | (function($){
    |   getGameInfo('#{game.slug}');
    |   getPlayers();
    | })(jQuery);