body
  padding: 50px
  
h2
  text-align:center

.panel-heading, .panel-body
  text-align: center

div.left
  float:left
  display:inline-block

div.left .no-show, .txt_field
  display: block

#points span.no-show
  display:none
  text-align: center
  min-height:40px
  padding: 10px 0px;

#points 
  margin: 0 auto;
  text-align: center;

.player_score_wrapper
  width: 200px
  display: inline-block

span.scoring_label 
  vertical-align: bottom
  width: 175px
  padding: 10px
  display: inline-block


#points span.scoring_label, #points .player_score_wrapper
  display:block
  min-height:50px

.player_score_wrapper input, .player_score_wrapper select 
  width: 150px
  height:40px

span.scoring_label, span.no-show
  font-size: 1.25em

#num_players
  width: 150px
  height:40px

.instance.point_totals
  min-height:50px

.prev 
  margin-right:10px
.next
  margin-left:10px

div.submitBtn
  display:block
  clear:both

.score_label
  width: 150px
  display: inline-block
.span.score_title, .span.score_rule
  display:inline-block
  width: 120px
  padding-right:20px
.score_title
  width: 100px
.score_rule, .score_points
  width: 100px

#scoringRulesBox 
  margin-top: 20px;


@media (max-width: 600px)

  .scoring
    display:block

  #points span.no-show
    display:block

  #points div.scoring_labels 
    display:none