body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

div.left
  float:left
  display:inline-block

div.left .hidden, .txt_field
  display: block

#points span.hidden
  display:none

#points span 
  width: 150px
  display: inline-block

#points span.scoring_label, #points .player_score_wrapper
  display:block
  min-height:30px

.instance.point_totals
  min-height:30px

.score_label
  width: 150px
  display: inline-block
.span.score_title, .span.score_rule
  display:inline-block
  width: 120px
  padding-right:20px
.score_title
  width: 100px
.score_rule, .score_points
  width: 100px

#scoringRulesBox 
  margin-top: 20px;


@media (max-width: 600px)

  .scoring
    display:block

  #points span.hidden
    display:block

  #points div.scoring_labels 
    display:none